<template>
  <v-app>
    <v-content class="transparent">
      <v-container v-if="loading" grid-list-xs class="d-flex justify-center">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
      </v-container>
      <v-container v-else grid-list-xs>
        <v-layout v-if="!userPassed" row wrap>
          <v-flex xs12 md4>
            <v-text-field v-model="tmpUser" :label="locale === 'it' ? 'Nome' : 'Your Name'"></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12>
            <v-textarea 
              outline
              :label="locale === 'it' ? 'Testo del commento' : 'Add your comment'"
              v-model="body"/>
              <v-alert outline color="error" icon="warning" :value="error.show">
                {{ error.message }}
              </v-alert>
              <vue-recaptcha
                ref="invisibleRecaptcha"
                @verify="onVerify"
                @expired="onExpired"
                size="invisible"
                :sitekey="recaptchaSiteKey">
                <v-btn
                  color="primary"
                  class="white--text"
                  @click="onComment">
                  {{ locale === 'it' ? 'Invia' : 'Send' }}
                  <v-icon right dark>send</v-icon>
                </v-btn>
              </vue-recaptcha>
          </v-flex>
          <v-divider></v-divider>
          <v-flex xs12>
            <v-card v-for="comment in comments" :key="comment.id" class="my-3">
              <v-layout row wrap>
                <v-flex xs2 d-flex align-center justify-center>
                  <v-avatar
                    size="50">
                    <img :src="comment.user.avatar" alt="alt">
                  </v-avatar>
                </v-flex>
                <v-flex xs10>
                  <v-card-title primary-title>
                    <span class="headline"> {{ comment.user.name }} </span>
                  </v-card-title>
                  <v-card-text>
                    {{ comment.body }}
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import VueRecaptcha from 'vue-recaptcha'
import keys from '@/keys'

export default {
  name: 'App',
  components: { VueRecaptcha },
  data () {
    return {
      loading: true,
      body: '',
      locale: 'en',
      tmpUser: '',
      error: {
        show: false,
        message: ''
      }
    }
  },
  computed: {
    comments () {
      return this.$store.getters.comments
    },
    hooks () {
      return this.$store.getters.hooks
    },
    userPassed () {
      return !!this.$route.query.user_name
    },
    recaptchaSiteKey () {
      if (process.env.NODE_ENV === 'development') {
        return process.env.VUE_APP_RECAPTCHA_SITE_KEY
      } else {
        return keys.recaptchaSiteKey
      }
      
    },
    user () {
      if (this.userPassed) {
        return {
          name: this.$route.query.user_name,
          avatar: this.$route.query.user_avatar
        }
      }
      else {
        return {
          name: this.tmpUser,
          avatar: `https://api.adorable.io/avatars/285/${this.tmpUser}`
        }
      }
    },
    query () {
      return this.$store.getters.query
    }
  },
  watch: {
    query (value) {
      if (value) {
        this.$store.dispatch('getComments')
          .then((res) => {
            setTimeout(() => {
              this.sendMessage()
              this.loading = false
            }, 5000)
          })
        this.$store.dispatch('getHooks')
      }
    }
  },
  mounted () {
    this.$store.dispatch('setQuery', {
      threadId: this.$route.query.thread_id,
      accountId: this.$route.query.account_id
    })

    this.locale = this.$route.query.locale || 'en'
  },
  methods: {
    onVerify: function (response) {
      console.log('Before verify')
      console.log('Verify: ' + response)
    },
    onExpired: function () {
      console.log('Expired')
    },
    onComment () {
      if (!this.userPassed && this.tmpUser.trim().length === 0) {
        this.error.message = 'The name is mandatory'
        this.error.show = true
      } else {
        this.$refs.invisibleRecaptcha.execute()
        const comment = {
          body: this.body,
          user: this.user,
          threadId: this.query.threadId,
          accountId: this.query.accountId,
          createdAt: new Date()
        }
        this.callWebHooks(comment)
        this.$store.dispatch('addComment', comment)
          .then(() => this.sendMessage('oncomment'))
      }     
    },
    sendMessage (event = 'onload') {
      const comments = this.comments.length
      const height = (comments * 180) + 356

      console.log('Iframe height: ', height)
      parent.postMessage({
        event,
        height
      }, '*')
    },
    callWebHooks (comment) {
      parent.postMessage({ comment }, '*')
      this.hooks.forEach(hook => {
        this.axios.post(hook.url, { comment })
          .then((res) => {

          })
          .catch((res) => {

          })
      })
    }
  }
}
</script>
<style>
 .theme--light.application{
   background-color: rgb(255, 255, 255)
 }

 .grecaptcha-badge{
   display: none;
 }
</style>